In [4]:
import pandas as pd
from funpymodeling import status
import pickle

# 1. Cargar datos

In [2]:
data_train = pd.read_csv("../data/raw_data/train.csv" , sep=",", index_col=0)
data_train

            id  Gender  ... Arrival Delay in Minutes             satisfaction
0        70172    Male  ...                     18.0  neutral or dissatisfied
1         5047    Male  ...                      6.0  neutral or dissatisfied
2       110028  Female  ...                      0.0                satisfied
3        24026  Female  ...                      9.0  neutral or dissatisfied
4       119299    Male  ...                      0.0                satisfied
...        ...     ...  ...                      ...                      ...
103899   94171  Female  ...                      0.0  neutral or dissatisfied
103900   73097    Male  ...                      0.0                satisfied
103901   68825    Male  ...                     14.0  neutral or dissatisfied
103902   54173  Female  ...                      0.0  neutral or dissatisfied
103903   62567    Male  ...                      0.0  neutral or dissatisfied

[103904 rows x 24 columns]

In [3]:
data_test = pd.read_csv("../data/raw_data/test.csv" , sep=",", index_col=0)
data_test

          id  Gender  ... Arrival Delay in Minutes             satisfaction
0      19556  Female  ...                     44.0                satisfied
1      90035  Female  ...                      0.0                satisfied
2      12360    Male  ...                      0.0  neutral or dissatisfied
3      77959    Male  ...                      6.0                satisfied
4      36875  Female  ...                     20.0                satisfied
...      ...     ...  ...                      ...                      ...
25971  78463    Male  ...                      0.0  neutral or dissatisfied
25972  71167    Male  ...                      0.0                satisfied
25973  37675  Female  ...                      0.0  neutral or dissatisfied
25974  90086    Male  ...                      0.0                satisfied
25975  34799  Female  ...                      0.0  neutral or dissatisfied

[25976 rows x 24 columns]

In [4]:
all_data = pd.concat([data_train,data_test], axis = 0)

In [5]:
all_data.head(5)

       id  Gender  ... Arrival Delay in Minutes             satisfaction
0   70172    Male  ...                     18.0  neutral or dissatisfied
1    5047    Male  ...                      6.0  neutral or dissatisfied
2  110028  Female  ...                      0.0                satisfied
3   24026  Female  ...                      9.0  neutral or dissatisfied
4  119299    Male  ...                      0.0                satisfied

[5 rows x 24 columns]

In [6]:
all_data.tail(5)

          id  Gender  ... Arrival Delay in Minutes             satisfaction
25971  78463    Male  ...                      0.0  neutral or dissatisfied
25972  71167    Male  ...                      0.0                satisfied
25973  37675  Female  ...                      0.0  neutral or dissatisfied
25974  90086    Male  ...                      0.0                satisfied
25975  34799  Female  ...                      0.0  neutral or dissatisfied

[5 rows x 24 columns]

In [7]:
status(all_data)

                             variable  q_nan  ...  unique     type
0                                  id      0  ...  129880    int64
1                              Gender      0  ...       2   object
2                       Customer Type      0  ...       2   object
3                                 Age      0  ...      75    int64
4                      Type of Travel      0  ...       2   object
5                               Class      0  ...       3   object
6                     Flight Distance      0  ...    3821    int64
7               Inflight wifi service      0  ...       6    int64
8   Departure/Arrival time convenient      0  ...       6    int64
9              Ease of Online booking      0  ...       6    int64
10                      Gate location      0  ...       6    int64
11                     Food and drink      0  ...       6    int64
12                    Online boarding      0  ...       6    int64
13                       Seat comfort      0  ...       6    int64
14             Inflight entertainment      0  ...       6    int64
15                   On-board service      0  ...       6    int64
16                   Leg room service      0  ...       6    int64
17                   Baggage handling      0  ...       5    int64
18                    Checkin service      0  ...       6    int64
19                   Inflight service      0  ...       6    int64
20                        Cleanliness      0  ...       6    int64
21         Departure Delay in Minutes      0  ...     466    int64
22           Arrival Delay in Minutes    393  ...     472  float64
23                       satisfaction      0  ...       2   object

[24 rows x 7 columns]

In [8]:
all_data = all_data.sample(frac=0.4)

In [9]:
status(all_data)

                             variable  q_nan  ...  unique     type
0                                  id      0  ...   51952    int64
1                              Gender      0  ...       2   object
2                       Customer Type      0  ...       2   object
3                                 Age      0  ...      75    int64
4                      Type of Travel      0  ...       2   object
5                               Class      0  ...       3   object
6                     Flight Distance      0  ...    3664    int64
7               Inflight wifi service      0  ...       6    int64
8   Departure/Arrival time convenient      0  ...       6    int64
9              Ease of Online booking      0  ...       6    int64
10                      Gate location      0  ...       6    int64
11                     Food and drink      0  ...       6    int64
12                    Online boarding      0  ...       6    int64
13                       Seat comfort      0  ...       6    int64
14             Inflight entertainment      0  ...       6    int64
15                   On-board service      0  ...       5    int64
16                   Leg room service      0  ...       6    int64
17                   Baggage handling      0  ...       5    int64
18                    Checkin service      0  ...       6    int64
19                   Inflight service      0  ...       5    int64
20                        Cleanliness      0  ...       6    int64
21         Departure Delay in Minutes      0  ...     386    int64
22           Arrival Delay in Minutes    148  ...     393  float64
23                       satisfaction      0  ...       2   object

[24 rows x 7 columns]

# 2. Preparación de datos

In [10]:
data = all_data[['Age', 'Class', 'Inflight wifi service', 'Ease of Online booking', 'Seat comfort', 'Checkin service', 'satisfaction']].copy()
data

       Age     Class  ...  Checkin service             satisfaction
4358    56  Business  ...                3                satisfied
9809    49  Business  ...                1  neutral or dissatisfied
39664   42       Eco  ...                2  neutral or dissatisfied
31916   47  Business  ...                2  neutral or dissatisfied
8581    59  Business  ...                1                satisfied
...    ...       ...  ...              ...                      ...
97755   41  Business  ...                3                satisfied
81308   58       Eco  ...                5  neutral or dissatisfied
76472   48       Eco  ...                4  neutral or dissatisfied
28149   31  Eco Plus  ...                1                satisfied
60710   42  Business  ...                5                satisfied

[51952 rows x 7 columns]

In [11]:
status(data)

                 variable  q_nan  p_nan  q_zeros   p_zeros  unique    type
0                     Age      0    0.0        0  0.000000      75   int64
1                   Class      0    0.0        0  0.000000       3  object
2   Inflight wifi service      0    0.0     1589  0.030586       6   int64
3  Ease of Online booking      0    0.0     2318  0.044618       6   int64
4            Seat comfort      0    0.0        1  0.000019       6   int64
5         Checkin service      0    0.0        1  0.000019       6   int64
6            satisfaction      0    0.0        0  0.000000       2  object

In [12]:
df=data["Age"].sort_values()
df.unique()

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
       41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,
       58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74,
       75, 76, 77, 78, 79, 80, 85])

In [13]:
data.rename(
    columns={
        "Inflight wifi service":"Wifi",
        "Ease of Online booking":"Booking",
        "Seat comfort":"Seat",
        "Checkin service":"Checkin"
    },
    inplace=True
)

data

       Age     Class  Wifi  Booking  Seat  Checkin             satisfaction
4358    56  Business     2        2     5        3                satisfied
9809    49  Business     3        5     3        1  neutral or dissatisfied
39664   42       Eco     1        1     4        2  neutral or dissatisfied
31916   47  Business     2        2     2        2  neutral or dissatisfied
8581    59  Business     5        5     1        1                satisfied
...    ...       ...   ...      ...   ...      ...                      ...
97755   41  Business     5        5     5        3                satisfied
81308   58       Eco     2        2     5        5  neutral or dissatisfied
76472   48       Eco     4        4     5        4  neutral or dissatisfied
28149   31  Eco Plus     4        4     4        1                satisfied
60710   42  Business     4        4     4        5                satisfied

[51952 rows x 7 columns]

In [14]:
class_map = {"neutral or dissatisfied":0,"satisfied":1}
data["satisfaction"]=data["satisfaction"].map(class_map)

In [15]:
data_ohe = pd.get_dummies(data)
data_ohe

       Age  Wifi  Booking  ...  Class_Business  Class_Eco  Class_Eco Plus
4358    56     2        2  ...            True      False           False
9809    49     3        5  ...            True      False           False
39664   42     1        1  ...           False       True           False
31916   47     2        2  ...            True      False           False
8581    59     5        5  ...            True      False           False
...    ...   ...      ...  ...             ...        ...             ...
97755   41     5        5  ...            True      False           False
81308   58     2        2  ...           False       True           False
76472   48     4        4  ...           False       True           False
28149   31     4        4  ...           False      False            True
60710   42     4        4  ...            True      False           False

[51952 rows x 9 columns]

# 3. Modelo de Clasificación

In [16]:
x_data = data_ohe.drop("satisfaction", axis=1)
y_data = data_ohe["satisfaction"]

In [17]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3)

In [18]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(n_estimators=5000, random_state=19)

rf_model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=5000, random_state=19)

# 4. Save model  and ohe_columns

In [19]:
pickle.dump(x_data.columns,open("ohe_categories.pkl","wb"),protocol=pickle.HIGHEST_PROTOCOL)

In [20]:
pickle.dump(rf_model,open("model/rf.pkl","wb"))